.mb-15px {
    margin-bottom: 15px;
}

.ml-15px {
    margin-left: 15px;
}

.mt-15px {
    margin-top: 15px;
}

.mt-60px {
    margin-top: 60px;
}

.ml-30px {
    margin-left: 30px;
}


.fz-30px {
    font-size: 20px;
}

.fz-60px {
    font-size: 60px;
}

.fz-17px {
    font-size: 17px;
}

.fs-ital{
    font-style: italic
}

.li-s-no {
    list-style: none;
}

.padd-10-per-lr{
    padding-left: 10%;
    padding-right: 10%;
}

.clr-white {
    color: white;
}

p {
    margin-bottom: 50px;
}

.h3-30px{
    font-size: 30px;
    
}


.bg-gradient {
    background-image: linear-gradient(black, #475157);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}